.header .logo.logo_place_header{
    position: absolute;
    width: 143px;
    height: 32px;
    top: 30px;
    left: 64px;
    background-image: url('../../images/logo_place_header.png');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
}