.kaufman .section-subtitle{
    z-index: 5;
    margin-top: 20px; 
    margin-bottom: 0;
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    color: white;
    width: 60%;
  }